In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/datingTestSet2.txt')

In [5]:
df

         a          b         c  label
0    40920   8.326976  0.953952      3
1    14488   7.153469  1.673904      2
2    26052   1.441871  0.805124      1
3    75136  13.147394  0.428964      1
4    38344   1.669788  0.134296      1
5    72993  10.141740  1.032955      1
6    35948   6.830792  1.213192      3
7    42666  13.276369  0.543880      3
8    67497   8.631577  0.749278      1
9    35483  12.273169  1.508053      3
10   50242   3.723498  0.831917      1
11   63275   8.385879  1.669485      1
12    5569   4.875435  0.728658      2
13   51052   4.680098  0.625224      1
14   77372  15.299570  0.331351      1
15   43673   1.889461  0.191283      1
16   61364   7.516754  1.269164      1
17   69673  14.239195  0.261333      1
18   15669   0.000000  1.250185      2
19   28488  10.528555  1.304844      3
20    6487   3.540265  0.822483      2
21   37708   2.991551  0.833920      1
22   22620   5.297865  0.638306      2
23   28782   6.593803  0.187108      3
24   19739   2.816760  1.686209      2
25   36788  12.458258  0.649617      3
26    5741   0.000000  1.656418      2
27   28567   9.968648  0.731232      3
28    6808   1.364838  0.640103      2
29   41611   0.230453  1.151996      1
..     ...        ...       ...    ...
970  53711  12.149747  1.389088      3
971  64371   9.149678  0.874905      1
972   9289   9.666576  1.370330      2
973  60613   3.620110  0.287767      1
974  18338   5.238800  1.253646      2
975  22845  14.715782  1.503758      3
976  74676  14.445740  1.211160      1
977  34143  13.609528  0.364240      3
978  14153   3.141585  0.424280      2
979   9327   0.000000  0.120947      2
980  18991   0.454750  1.033280      2
981   9193   0.510310  0.016395      2
982   2285   3.864171  0.616349      2
983   9493   6.724021  0.563044      2
984   2371   4.289375  0.012563      2
985  13963   0.000000  1.437030      2
986   2299   3.733617  0.698269      2
987   5262   2.002589  1.380184      2
988   4659   2.502627  0.184223      2
989  17582   6.382129  0.876581      2
990  27750   8.546741  0.128706      3
991   9868   2.694977  0.432818      2
992  18333   3.951256  0.333300      2
993   3780   9.856183  0.329181      2
994  18190   2.068962  0.429927      2
995  11145   3.410627  0.631838      2
996  68846   9.974715  0.669787      1
997  26575  10.650102  0.866627      3
998  48111   9.134528  0.728045      3
999  43757   7.882601  1.332446      3

[1000 rows x 4 columns]

In [6]:
df.a * 2

0       81840
1       28976
2       52104
3      150272
4       76688
5      145986
6       71896
7       85332
8      134994
9       70966
10     100484
11     126550
12      11138
13     102104
14     154744
15      87346
16     122728
17     139346
18      31338
19      56976
20      12974
21      75416
22      45240
23      57564
24      39478
25      73576
26      11482
27      57134
28      13616
29      83222
        ...
970    107422
971    128742
972     18578
973    121226
974     36676
975     45690
976    149352
977     68286
978     28306
979     18654
980     37982
981     18386
982      4570
983     18986
984      4742
985     27926
986      4598
987     10524
988      9318
989     35164
990     55500
991     19736
992     36666
993      7560
994     36380
995     22290
996    137692
997     53150
998     96222
999     87514
Name: a, Length: 1000, dtype: int64

In [14]:
df.groupby('label').count().to_dict()

{'a': {1: 342, 2: 331, 3: 327},
 'b': {1: 342, 2: 331, 3: 327},
 'c': {1: 342, 2: 331, 3: 327}}

In [15]:
df[df.index < 600]

         a          b         c  label
0    40920   8.326976  0.953952      3
1    14488   7.153469  1.673904      2
2    26052   1.441871  0.805124      1
3    75136  13.147394  0.428964      1
4    38344   1.669788  0.134296      1
5    72993  10.141740  1.032955      1
6    35948   6.830792  1.213192      3
7    42666  13.276369  0.543880      3
8    67497   8.631577  0.749278      1
9    35483  12.273169  1.508053      3
10   50242   3.723498  0.831917      1
11   63275   8.385879  1.669485      1
12    5569   4.875435  0.728658      2
13   51052   4.680098  0.625224      1
14   77372  15.299570  0.331351      1
15   43673   1.889461  0.191283      1
16   61364   7.516754  1.269164      1
17   69673  14.239195  0.261333      1
18   15669   0.000000  1.250185      2
19   28488  10.528555  1.304844      3
20    6487   3.540265  0.822483      2
21   37708   2.991551  0.833920      1
22   22620   5.297865  0.638306      2
23   28782   6.593803  0.187108      3
24   19739   2.816760  1.686209      2
25   36788  12.458258  0.649617      3
26    5741   0.000000  1.656418      2
27   28567   9.968648  0.731232      3
28    6808   1.364838  0.640103      2
29   41611   0.230453  1.151996      1
..     ...        ...       ...    ...
570  28221  11.620039  1.103553      3
571   7091   4.022079  0.207307      2
572   6110   3.057842  1.631262      2
573  79016   7.782169  0.404385      1
574  18289   7.981741  0.929789      3
575  43679   4.601363  0.268326      1
576  22075   2.595564  1.115375      1
577  23535  10.049077  0.391045      3
578  25301   3.265444  1.572970      2
579  32256  11.780282  1.511014      3
580  36951   3.075975  0.286284      1
581  31290   1.795307  0.194343      1
582  38953  11.106979  0.202415      3
583  35257   5.994413  0.800021      1
584  25847   9.706062  1.012182      3
585  32680  10.582992  0.836025      3
586  62018   7.038266  1.458979      1
587   9074   0.023771  0.015314      2
588  33004  12.823982  0.676371      3
589  44588   3.617770  0.493483      1
590  32565   8.346684  0.253317      3
591  38563   6.104317  0.099207      1
592  75668  16.207776  0.584973      1
593   9069   6.401969  1.691873      2
594  53395   2.298696  0.559757      1
595  28631   7.661515  0.055981      3
596  71036   6.353608  1.645301      1
597  71142  10.442780  0.335870      1
598  37653   3.834509  1.346121      1
599  76839  10.998587  0.584555      1

[600 rows x 4 columns]

In [16]:
class A:
    def __init__(self):
        pass

In [17]:
a = A()

In [18]:
type(a)

__main__.A

In [19]:
isinstance(a, A)

True

In [20]:
df = pd.read_csv('../data/lenses.txt')

In [22]:
df[df.tearRate == 'reduced']

           age prescript astigmatic tearRate      label
0        young     myope         no  reduced  no lenses
2        young     myope        yes  reduced  no lenses
4        young     hyper         no  reduced  no lenses
6        young     hyper        yes  reduced  no lenses
8          pre     myope         no  reduced  no lenses
10         pre     myope        yes  reduced  no lenses
12         pre     hyper         no  reduced  no lenses
14         pre     hyper        yes  reduced  no lenses
16  presbyopic     myope         no  reduced  no lenses
18  presbyopic     myope        yes  reduced  no lenses
20  presbyopic     hyper         no  reduced  no lenses
22  presbyopic     hyper        yes  reduced  no lenses

In [24]:
df[df.tearRate == 'normal']

           age prescript astigmatic tearRate      label
1        young     myope         no   normal       soft
3        young     myope        yes   normal       hard
5        young     hyper         no   normal       soft
7        young     hyper        yes   normal       hard
9          pre     myope         no   normal       soft
11         pre     myope        yes   normal       hard
13         pre     hyper         no   normal       soft
15         pre     hyper        yes   normal  no lenses
17  presbyopic     myope         no   normal  no lenses
19  presbyopic     myope        yes   normal       hard
21  presbyopic     hyper         no   normal       soft
23  presbyopic     hyper        yes   normal  no lenses